{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/fon.css">
    <link rel="stylesheet" href="../static/css/beauty_btn.css">
{% endblock %}

{% block header %}
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="http://127.0.0.1:8080/library">{{description}}</a>
    </nav>
</header>
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        {% for field in form if field.name != 'csrf_token' %}
            <div>
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock %}